@import "../../global.scss";

.project__item {
    //display: inline-flex;
    list-style: none;
    border: 1px solid black;
    .project__description{
        display: inline-flex;
        border: 1px solid black;
    }
}