$color-background-menu: #010626;//#0D40A6; // #0f4c81;
$color-background-content: #defff7;//#BFBFBF;//#F29F05;
$color-background-footer: #0A1659; // #060e1a;
$color-text-title: #F29F05;
$color-text-dark: #bbb;
$color-text: #04BF8A;
$color-text-light: #fff;
$color-socials: #025959;

/* Color Theme Swatches in Hex */
$Tinkoff-Anniversary-1-hex: #F27781;
$Tinkoff-Anniversary-2-hex: #18298C;
$Tinkoff-Anniversary-3-hex: #04BF8A;
$Tinkoff-Anniversary-4-hex: #F2CF1D;
$Tinkoff-Anniversary-5-hex: #F29F05;


/* Color Theme Swatches in Hex */
$A-SPLASH-OF-COLOR-1-hex: #F21365;
$A-SPLASH-OF-COLOR-2-hex: #025959;
$A-SPLASH-OF-COLOR-3-hex: #027368;
$A-SPLASH-OF-COLOR-4-hex: #F2CB05;
$A-SPLASH-OF-COLOR-5-hex: #F22E2E;

/* Color Theme Swatches in Hex */
$adidas-Originals-Indoor-Super-1-hex: #1D2126;
$adidas-Originals-Indoor-Super-2-hex: #BFBFBF;
$adidas-Originals-Indoor-Super-3-hex: #F2AB27;
$adidas-Originals-Indoor-Super-4-hex: #F28705;
$adidas-Originals-Indoor-Super-5-hex: #BF6415;

/* Color Theme Swatches in Hex */
$The-Fi-Shop-1-hex: #010626;
$The-Fi-Shop-2-hex: #021F59;
$The-Fi-Shop-3-hex: #033E8C;
$The-Fi-Shop-4-hex: #0477BF;
$The-Fi-Shop-5-hex: #049DD9;

/* Color Theme Swatches in Hex */
$colorful-CMYK-1-hex: #8C034E;
$colorful-CMYK-2-hex: #D90DCB;
$colorful-CMYK-3-hex: #1DA1F2;
$colorful-CMYK-4-hex: #F2CC0F;
$colorful-CMYK-5-hex: #F29F05;

/* Color Theme Swatches in Hex */
$Wonderful-1-hex: #BF05F2;
$Wonderful-2-hex: #6805F2;
$Wonderful-3-hex: #21038C;
$Wonderful-4-hex: #150259;
$Wonderful-5-hex: #2405F2;

$font-title: 'Rock Salt', cursive; //'Amatic SC', cursive;
$font-menu: 'Audiowide', cursive;
$font-text: 'Caladea', serif;
$font-code-pro: 'Source Code Pro', monospace;
$font-footer: 'Lora', serif;


$radius: 5px;
$base-size: 14px;
$transition: all 0.2s ease-in-out;