@import "../global.scss";

.header {
    display: inline-flex;
    float: left;
    margin: 0;
    padding: 5px;
    width: 33%;
    background-color: $color-background-footer;
    .navigation {
        display: block;
        .title {
            margin: 5px;
            padding-top: 30px;
            .title_name {
                margin-top: 5%px;
                padding: 20px;
                font-size: $base-size * 3.4;
                font-family: $font-title;
                font-weight: 900;
                text-align: center;
                color: $color-text-title;
            }
            .title_social {
                margin: 10px;
                padding: 10px;
                font-size: 30px;
                text-align: center;
                a{
                    padding-top: 30vh;
                    margin: 5px;
                    color: $color-socials;
                    &:hover {
                        color: $color-text;
                    }
                }
            }
        }
        .navigation_menu {
            margin: 10px;
            padding: 45% 10px 10px 10px;
            font-size: $base-size * 2;
            color: $color-text;
            font-family: $font-menu;
        }
    }
    @include tablet-large {
        display: block;
        float: center;
        width: 100vw;
    }
}