@import "../global.scss";

.header {
    display: inline-flex;
    float: left;
    width: 25%;
    background-color: $color-background-footer;
    min-height: 100vh;
    .navigation {
        display: flex;
        margin-left: 10%;
        max-height: fit-content;
        .title {
            padding: 20px 0px 30px;
            .title_logo {
                width: 90%;
                float: center;
                //border: 1px solid black;
                @include tablet-large {
                    width: 100%;
                }
            }
            .title_social {
                margin: 0 auto 0;
                padding-top: 5vh;
                padding-bottom: 9vw;
                width: 90%;
                font-size: 30px;
                display: inline-flex;
                justify-content: center;
                //border: 1px solid black;
                a{
                    //margin-top: 15vh;
                    margin: 5px;
                    color: $color-socials;
                    &:hover {
                        color: $color-text;
                    }
                }
            }
            .navigation_menu {
                margin: 5px;
                padding-right: 2%;
                align-items: center;
                font-size: $base-size * 2;
                color: $color-text;
                font-family: $font-menu;
                position: fixed;
                list-style: none;
                border-left: 3px solid $color-text-title;
                border-right: 3px solid $color-text-title;
                border-radius: 15px;
                .menu_item{
                    margin: 5px;
                    &:hover {
                        color: $color-text-title;
                    }
                }
            }
        }
    }
    @include tablet-large {
        display: block;
        float: center;
        width: 100vw;
    }
}