@import "../global.scss";

.main_content {
    display: inline-flex;
    float: right;
    background-color: $color-background-content;
    width: 67%;
    margin: 0;
    padding: 5%;
    .content {
        margin: auto;
        padding: 15px;
        display: block;
        width: 100vw;
        font-family: $font-code-pro;
        text-align: center;
        h1 {
            display: block;
            margin: 10px;
            padding: 15px;
            width: 100%;
            color: $color-text-dark;
            text-align: center;
        }
        p{
            color: $color-text-dark;
        }
        span {
            display: block;
            font-size: $base-size * 1.5;
            color: $color-text-title;
        }
        h2 {
            color: $color-text-red;
            font-size: $base-size * 3;
        }
        @include tablet-large {
            isplay: block;
            float: center;
            width: 100%;
        }
    }
    @include tablet-large {
        display: block;
        float: center;
        width: 100vw;
    }
}
