@import "../global.scss";

.main {
    display: inline-flex;
    float: right;
    background-color: $color-background-content;
    width: 75%;
    margin: 0;
    padding: 5%;
    min-height: 100vh;
    position: relative;
    border: 1px solid black;
    @include tablet-large {
      padding: 15px 0;
    }
    .page__title{
        //color: $color-background-menu;
        //border: 1px solid black;
        background-color: $color-text-title;
        color: $color-background-footer;
        text-align: center;
        border-radius: 15px;
    }
    .wrapper {
      float: right;
      background-color: $color-background-content;
      width: 100%;
      margin: 0;
      padding: 5%;
      border-bottom: 5px solid $color-text-title;
      border-top: 5px solid $color-text-title;
      border-radius: 15px;
      // right: 0;
      // left: 0;
      @include mobile-large {
        top: 180px;
      }
      @include tablet-small {
        top: 200px;
      }
      @include tablet-large {
        top: 210px;
      }
    }
}