@import "../global.scss";

.main {
    display: inline-flex;
    float: right;
    background-color: $color-background-content;
    width: 67%;
    margin: 0;
    padding: 5%;
    min-height: 100vh;
    position: relative;
    @include tablet-large {
      padding: 15px 0;
    }
  }
  .wrapper {
    //position: absolute;
    display: inline-flex;
    height: fit-content;
    float: right;
    background-color: $color-background-content;
    width: 67%;
    margin: 0;
    padding: 5%;
    // right: 0;
    // left: 0;
    @include mobile-large {
      top: 180px;
    }
    @include tablet-small {
      top: 200px;
    }
    @include tablet-large {
      top: 210px;
    }
  }
